@import "./_variables";

.music {
    text-align: center;

    h3 {
        text-transform: uppercase;
        font-size: 1.5em;
    }

    img {
        width: 60%;
        
    }


}